header {
    padding: 0 1rem;
    background-color: #444;
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 auto;
        width: 85%;
    }
    .left {
        img {
            width: 80px;
            -webkit-user-drag: none;
        }
    }
    .right {
        display: flex;
        li {
            font-size: 1rem;
            list-style-type: none;
            padding: 12px 16px;
            margin: 0 12px;
            border-radius: 10px;
            cursor: pointer;
            color: #fff;
            &:hover {
                background-color: #555;
            }
        }
    }
}